html,body{
	height:100%;
	width:100%;
}

.page{
	width:100%;
	position:absolute;
	top:44px;
	left:0;
	bottom:49px;
}
footer{
		position:absolute;
		bottom:0;
		height:49px;
		width:100%;
		box-sizing:border-box;
		border-top:1px solid #333;
		display:flex;
		background: palegreen;
	}
	footer li{
		font-size:20px;
		font-weight:bold;
		line-height:48px;
		text-align:center;
		flex:1;
		color:lightcoral;
		cursor:pointer;
	}
	footer li.active{
		background:plum;
	}
